.container {
    height: 90vh;
    display: flex;
  }
  
  .bg-black {
    background-color: #000;
  }
  
  .h-screen {
    height: 100vh;
  }
  .sidebar {
  width: 25%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #121212;
  border-radius: 0.5rem;
  color: white;
  display: none;
}

.sidebar.lg\:flex {
  display: flex;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.sidebar-icon {
  width: 2rem;
  height: 2rem;
}

.sidebar-text {
  font-weight: bold;
}