/* Sidebar */
.sidebar {
  width: 25%;
  height: 100vh;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: white;
  overflow-y: auto; 
}

.sidebar-lg {
  display: none;
}

@media (min-width: 1024px) {
  .sidebar-lg {
    display: flex;
  }
}

/* Top section styles */
.top-section {
  background-color: #1DB954;
  height: auto;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 0; 
}

.top-section-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-left: 2rem;
  cursor: pointer;
}

.top-section-icon {
  width: 1.5rem;
}

.top-section-text {
  font-weight: bold;
}


.search-bar {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 80%;
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Bottom section styles */
.bottom-section {
  background-color: #1DB954;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bottom-section-content {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-section-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.bottom-section-icon-large {
  width: 2rem;
}

.bottom-section-icon-small {
  width: 1.25rem;
}

.bottom-section-text {
  font-weight: 600;
}

.sort-section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sort-label {
  font-weight: bold;
}

.sort-dropdown {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.playlist {
  padding: 1rem;
  background-color: #1DB954;
  margin: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
  padding-left: 1rem;
}

.playlist-light {
  font-weight: 300;
}

.favourite-button {
  padding: 0.375rem 1rem;
  background-color: white;
  font-size: 15px;
  color: black;
  border-radius: 9999px;
  margin-top: 1rem;
}



  /* Podcasts */

  .main-content {
    padding: 20px;
  }
  
  .podcasts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .podcast-card {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .podcast-card img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .podcast-card h3 {
    margin: 10px 0;
    font-size: 1.2em;
  }
  
  .podcast-card small {
    display: block;
    margin-top: 5px;
    color: #666;
  }
  
  .podcast-card p {
    color: #333;
  }
  

Seasons

.seasons-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.episodes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.season-card, .episode-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.season-card img, .episode-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.season-card h3, .episode-card h3 {
  margin-top: 10px;
  font-size: 1.2em;
}

.season-image {
  max-width: 100%;
  border-radius: 8px;
}

.seasons-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.episodes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.season-card, .episode-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.season-card img, .episode-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.season-card h3, .episode-card h3 {
  margin-top: 10px;
  font-size: 1.2em;
}

.season-image {
  max-width: 100%;
  border-radius: 8px;
}

.episodes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.episode-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.episode-card h3 {
  margin-top: 10px;
  font-size: 1.2em;
}

.episode-card p {
  margin: 10px 0;
}

.episode-card audio {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}

/* Home */

.app {
  display: flex;
}

.sidebar {
  width: 250px; 
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow: auto;
}

.home {
  width: 30%;
  box-sizing: border-box;
}

.carousel-item {
  cursor: pointer;
}

.carousel .slide img {
  width: 30%;
  height: auto;
  max-height: 580px;
}

.carousel .legend {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  font-size: 1.2em;
}


.season-card {
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

.season-card img {
  width: 100%;
  height: auto;
  max-height: 400px;
}

.season-card h3 {
  margin: 10px 0;
}

.season-card small {
  display: block;
  margin-top: 5px;
  color: #666;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.main-content {
  padding: 20px;
}

.podcasts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.podcast-card {
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.podcast-card img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.podcast-card h3 {
  margin: 10px 0;
  font-size: 1.2em;
}

.podcast-card small {
  display: block;
  margin-top: 5px;
  color: #666;
}

.seasons-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.season-card {
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

.season-card img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.season-card h3 {
  margin: 10px 0;
}

.season-card small {
  display: block;
  margin-top: 5px;
  color: #666;
}

.episodes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.episode-card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heart-icon {
  cursor: pointer;
  transition: color 0.3s;
}

.heart-icon.favorite {
  color: red;
}

.go-back-button {
  padding: 0.375rem 1rem;
  background-color: white;
  font-size: 15px;
  color: #1DB954;
  border-radius: 9999px;
  margin-top: 1rem;
}

.my-favourite-h1, 
.home-h1, .podcast-h1 {
  text-align: center;
}

