/* Sidebar */
.sidebar {
    width: 25%;
    height: 100%vh;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: white;
  }
  
  .sidebar-lg {
    display: none;
  }
  
  @media (min-width: 1024px) {
    .sidebar-lg {
      display: flex;
    }
  }
  
  /* Top section styles */
  .top-section {
    background-color: #1DB954;
    height: 15%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .top-section-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding-left: 2rem;
    cursor: pointer;
  }
  
  .top-section-icon {
    width: 1.5rem;
  }
  
  .top-section-text {
    font-weight: bold;
  }
  
  
  .bottom-section {
    background-color: #1DB954;
    height: 85%;
    border-radius: 0.5rem;
  }
  
  .bottom-section-content {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .bottom-section-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
  
  .bottom-section-icon-large {
    width: 2rem;
  }
  
  .bottom-section-icon-small {
    width: 1.25rem;
  }
  
  .bottom-section-text {
    font-weight: 600;
  }
  
  .playlist {
    padding: 1rem;
    background-color: #1DB954;
    margin: 0.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.25rem;
    padding-left: 1rem;
  }
  
  .playlist-light {
    font-weight: 300;
  }
  
  .playlist-button {
    padding: 0.375rem 1rem;
    background-color: white;
    font-size: 15px;
    color: black;
    border-radius: 9999px;
    margin-top: 1rem;
  }
  
  .mt-4 {
    margin-top: 1rem;
  }
  
  .search-bar {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  .search-input {
    width: 80%;
    height: 2.5rem; 
    padding: 0.5rem; 
    font-size: 1rem; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
  }

  /* Podcasts */
.app {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #f8f9fa; 
}

.main-content {
  flex-grow: 1;
  padding: 20px;

}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.image-grid img {
  max-width: 100%;
  height: auto;
}

/* Seasons */

.seasons-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.episodes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.season-card, .episode-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.season-card img, .episode-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.season-card h3, .episode-card h3 {
  margin-top: 10px;
  font-size: 1.2em;
}

.season-image {
  max-width: 100%;
  border-radius: 8px;
}

.seasons-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.episodes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.season-card, .episode-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.season-card img, .episode-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.season-card h3, .episode-card h3 {
  margin-top: 10px;
  font-size: 1.2em;
}

.season-image {
  max-width: 100%;
  border-radius: 8px;
}

.episodes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.episode-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.episode-card h3 {
  margin-top: 10px;
  font-size: 1.2em;
}

.episode-card p {
  margin: 10px 0;
}

.episode-card audio {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}
